<!-- LEAVE A REVIEW -->
<link rel="stylesheet" href="/form-validation.css">

<section class="col-8 offset-2 my-5 show-review-section">
    <% if(currentUser) { %>
    <form class="needs-validation" id="review-form" action="/campgrounds/<%=campground._id%>/review" method="POST">
        <h3>Leave a review</h3>
            <div class="show-star-container">
                <h5>Rating: </h5>
                 <fieldset class="starability-grow">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    <input class="star-rating" type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input class="star-rating" type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input class="star-rating" type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input class="star-rating" type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input class="star-rating" type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="invalid-text hidden" id="star-feedback" >
                Please provide a rating.
            </div>
        <div class="form-group">
            <textarea class="form-control" id="review-text" name="review[text]" col="30" rows="3" minlength="10"
                placeholder="Leave a review." required></textarea>
            <div class="invalid-text hidden" id="review-feedback">
                Please write a review of at least 10 characters.
            </div>
        </div>
        <button type="button" id="review-btn" class="btn btn-yellow my-3">Submit</button>
    </form>
    <% } %>

    <!-- REVIEWS -->
    <div class="show-reviews my-3">
        <h3>Guest Reviews</h3>
        <% if(campground.reviews.length > 0) {
            for (let i = campground.reviews.length - 1; i >= 0; i--) {
            const review = campground.reviews[i];
            %>
            <div class="card review-card my-3">
                <div class="card-body">
                    <div class="show-star-container">
                        <h5 class="card-title card-title-sm">Rating: </h5>
                     <p class="starability-result" data-rating="<%= review.rating %>"><%= review.rating %></p>
                    </div>
                    <h6 class="card-subtitle text-yc-muted mb-2">By: <%= review.user %></h6>

                    <%#//Show depending on editing or not %>

                    <% if (editing && editing == review._id) { %> 
                            <form action="/campgrounds/<%=campground._id%>/review/edit/<%=review._id%>/?_method=PATCH" method="POST">
                                <textarea class="form-control mb-3" id="edit-review-text" name="text" col="30" rows="3" minlength="10" value="<%=review.text%>"
                                    required><%=review.text%></textarea>
                                <button class="btn btn-sm btn-outline-yellow">Save</button>
                            </form>
                        <% } else { %>
                        <p class="card-text my-3"><%= review.text %></p>

                        <%# //Show depending on if logged in and owner %>

                        <% if(currentUser && currentUser.username === review.user) {%>
                        <a class="btn btn-sm btn-outline-yellow" href="/campgrounds/<%=campground._id%>/review/edit/<%=review._id%>">Edit</a>
                        <a class="btn btn-sm btn-outline-danger dialog-show-rev">Delete</a>
                        <%}
                    }%>
                </div>
            </div>

            <%# Are you sure you want to delete review? (dialog) %>

            <dialog class="position-fixed fixed-top mt-5 dialog-del-rev" id="dialog-rev-del-<%=review._id%>">
                <form action="/campgrounds/<%=campground._id%>/review/<%=review._id%>/?_method=DELETE" method="POST">
                    <p>Are you sure you want to delete this review? This action cannot be undone.</p>
                    <button class="btn btn-danger" id="dialog-btn-del-rev" type="submit" formmethod="post">Delete</button>
                    <button class="btn btn-dark" id="dialog-cncl-rev" type="button">Cancel</button>
                </form>
            </dialog>
            <% }} else { %>
            <p>No reviews available for this campground.</p>
        <% } %>
    </div>
</section>


<%- include('../partials/loading-dialog.ejs') %>
<%- include('../partials/html-dialog.ejs') %>

<% if(currentUser) {%>
<script type="module" src="/reviews.js"></script>
<% } %>