<% layout('/layouts/boilerplate') -%>
<link href="/index.css" rel="stylesheet" type="text/css">


<section class="campground-section position-relative">

    <!-- Search filters button-->
    <div class="campground-filter-btn-container align-self-start mx-3">
        <div class="search-btn-slider">
            <a class="btn btn-yellow search-filter-btn" id="search-filter-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
            </svg>
            <p class="d-inline">Filters</p>
        </a>
        <a class="btn btn-yc-dark search-close-btn" id="search-close-btn">
            <svg class="d-inline" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
            <p class="d-inline">Close</p>
        </a>
        </div>
    </div>
    <!-- Search -->
    <div class="campground-search-container offscreen" id="campground-search-container">
        <%- include('../partials/search.ejs') %>
    </div>
    
    <div class="campground-map-container mx-3">
            <div id="map" class="mt-3"></div>
     </div>

    <!-- Campgrounds found information + pages -->
    <div class="campground-all-container container mt-1 pt-2">
        <div class="row">
            <% if (!campgrounds) { %>
            <div class="campground-found-info mb-3 col-12">
                <p><em>No campgrounds found. Please check your search terms and try again.</em></p>
            </div>
        <% } else { %>
            <div class="campground-found-info col-12 mb-3">
                <p><em><%= campgrounds.length %> campgrounds found
                <% if(filter.title || filter.city || filter.state) {%><span>with search terms </span><%}%>
                <% if(filter.title) {%><span >"<span id="search-title"><%=filter.title %></span>" </span><%}%>
                <% if(filter.miles) {%><span>within <span id="search-miles"><%=filter.miles %></span> miles of </span><%}%>
                <% if(filter.city) {%><span><%=filter.city %>, </span><%}%>
                <% if(filter.state) {%><span><%=filter.state %></span><%}%></em></p>
                <% if(filter.coords) {%><span id="search-coordinates" class="hidden"><%=filter.coords %></span><%}%></em></p> 
                <div id="page-links" class="d-flex gap-2 page-links align-items-end">        
                </div>
            </div>
        </div>

     <!-- Campgrounds List -->
     <div class="row gx-5 gy-3 px-2 mt-2">
        <% campgrounds.reverse().forEach((campground, i)=> { %>
                <div class="campground-card-container ps-2 mb-3 col-8 col-sm-6 col-lg-4 col-xxl-3 offset-2 offset-sm-0">
                    <div id=<%=`campground-${i}`%> class="campground-card card">
                        <div class="row g-0">
                            <div class="d-flex align-items-center">
                                <% if(campground.getPhoto().length > 0) { %>
                                <img class="card-img" src="<%= campground.getPhoto()[0] %>" alt="<%= campground.img[0].filename %>">
                                <% } else { %>
                                    <img class="card-img-top" src="/no-img-found.jpg" alt="No image found">
                                <% } %>
                            </div>
                            <div class="card-body">
                                <div class="card-body-upper">
                                    <h5 class="card-title">
                                    <%= campground.title %>
                                </h5>
                                <p class="card-text">
                                    <%= campground.location %>
                                </p>
                                <p class="card-text">
                                    <% if(lastViewed && lastViewed.find(view => view.id === campground._id.toHexString())) {%>
                                        <small class="text-muted">
                                            Last viewed 
                                            <% const minutes = Math.floor((Date.now() - (lastViewed.find(view => view.id === campground._id.toHexString()).timestamp)) / 1000 / 60)  %>
                                            <%= minutes <= 60 ? `${minutes} minute` : minutes <= 1440 ? `${Math.floor(minutes/60)} hour` : `${Math.floor(minutes/1440)} day` %><%= minutes !== 1 || Math.floor(minutes/60) !== 1 || Math.floor(minutes/1440) !== 1 ? 's' : '' %> 
                                            ago.
                                        </small>
                                        <% } %>
                                </p>
                                </div>
                                <a class="btn btn-yc-dark" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% })} %>
     </div>
        <div id="page-links-bottom-container" class="d-flex gap-2 page-links align-items-end pt-3 pb-5">        
        </div>
    </div>
</section>

    <!-- Maps functionality -->

<script type="text/javascript" src="/index.js"></script>
<script type="module" src="/index-map.mjs"></script>

<!-- Search form functionality -->
<script type="text/javascript" src="/search.js"></script>


